<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        File Listing
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
    <link rel="preload" href="/static/fonts/noto-sans-display-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/fonts/fira-code-v12-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/static/css/file_list.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style>
        .file-list {
            display: none;
        }
    </style>
    <noscript>
        <style>
            #breadcrumb_js {
                display: none !important;
            }

            #file_list {
                display: block !important;
            }
        </style>
    </noscript>
</head>

<body>
    <main>
        <h2>File Listing</h2>
        <button id="noscript-toggle" onclick="toggleNoscript()"
            style="margin-bottom: 10px; padding: 5px 10px; background: #f0f0f0; border: 1px solid #ccc; cursor: pointer;">Show
            NoScript Elements</button>
        <noscript>
            <div id="breadcrumb_non_js" class="breadcrumb"><a>Javascript is disabled, listing
                    everything.</a></div>
        </noscript>
        <div id="breadcrumb_js" class="breadcrumb"></div>
        <ul id="file_list_js" class="file-list"></ul>
        <ul id="file_list" class="file-list">{% for file in file_list %}
            <li><a href="{{ base_url }}/{{ file }}">/{{ file }}</a></li>{% endfor %}
        </ul>
        <p class="last-generated">Last generated: {{ last_generated_date }}</p>
    </main>
    <script type="text/javascript" src="/static/js/file_list.js"></script>
    <script type="text/javascript"
        src="http://autist.network/files/funny-computer/firebug-lite-debug.js#startOpened=true,debug=false,overrideConsole=true"></script>

</body>

</html>
